{% extends 'writer/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contents%}
<h2>Your Articles</h2>
{% for article in object_list %}
<div class='container shadow-md w-50 p-5 form-layout'>  
        <h3> {{ article.title | title}}</h3> 
        <p>- {{ article.publish_date|date }}</p>
        {% if article.is_premium %}
                <p>Premium</p>
        {% else %}
                <p>Standard</p>
        {% endif %}
        <hr>
        <div>{{article.text | capfirst}}</div>
        <br><br>
        <div>
                <form method="get" action="{% url 'edit-articles' article.id %}">
                        {% csrf_token %}
                        <button class="btn btn-warning" type="submit">Edit</button>
                </form>
                <br>
                <form  method="get" action="{% url 'delete-articles' article.id %}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                </form>
        </div>
</div>
{% endfor %}
{% endblock %}