{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE Html>
<html lang="en">
    <head>
        <title> Edenthought </title>


          <meta charset="utf-8" />

          <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>


          <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">


          <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <br>
        <div class="container shadow-md w-25 p-5 form-layout">
            <h4>Your account has been created</h4>
            <br>
            <strong>Please check your email, a verification mail is sent to your email</strong>
            <p>You can login after your email verification is done</p>
            </form>
        </div>
        <br>
    </body>
</html>